@using CarsShop.Data.Entities
@model Order

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label">Id</label>
            <input type="number" asp-for="Id" id="idId" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">CarId</label>
            <input type="number" asp-for="CarId" id="idCarId" class="form-control" />
            <span asp-validation-for="CarId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">ColorName</label>
            <input type="text" asp-for="ColorName" id="idColorName" class="form-control" />
            <span asp-validation-for="ColorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Date</label>
            <input type="date" asp-for="Date" id="idDate" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">ModelName</label>
            <input type="text" asp-for="ModelName" id="idModelName" class="form-control" />
            <span asp-validation-for="ModelName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Price</label>
            <input type="text" asp-for="Price" id="idPrice" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">UserId</label>
            <input type="number" asp-for="UserId" id="idUserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
