@model AddCarDto


<div class="d-flex justify-content-center">
    <div class="mt-4" style="width: 70%">
        <form asp-controller="cars" asp-action="add" enctype="multipart/form-data">
            <div class="card mb-4">
                <h5 class="card-header">New Car</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="defaultFormControlInput" class="form-label">Name</label>
                        <input asp-for="Name" type="text"
                               class="form-control"
                               id="defaultFormControlInput"
                               aria-describedby="defaultFormControlHelp" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="defaultFormControlInput" class="form-label">Description</label>
                        <input asp-for="Description" type="text"
                               class="form-control"
                               id="defaultFormControlInput"
                               aria-describedby="defaultFormControlHelp" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="defaultFormControlInput" class="form-label">Price</label>
                        <input asp-for="Price" type="number"
                               class="form-control"
                               id="defaultFormControlInput"
                               aria-describedby="defaultFormControlHelp" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Category</label>
                        <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                            <option selected disabled>-- Select Category -- </option>
                            @foreach(var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Brend</label>
                        <select asp-for="BrendId" class="form-select" aria-label="Default select example">
                            <option selected disabled>-- Select Brend -- </option>
                            @foreach (var brend in Model.Brends)
                            {
                                <option value="@brend.Id">@brend.Name</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a asp-controller="cars" asp-action="index" class="me-2 btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>