<style>
    .auth-link {
        width: 100%;
    }

    .dropdown-toggle::after {
        content: none;
    }
</style>

@inject IAuthService authService

@if (!authService.IsLoggedIn())
{
    <div class="d-flex justify-content-between" style="width: 200px">
        <a asp-controller="auth" asp-action="login" class="auth-link btn btn-outline-success">Log in</a>
        <a asp-controller="auth" asp-action="register" class="auth-link btn btn-outline-success">Register</a>
    </div>
}
else
{ 
    <div class="dropdown me-3">
        <button class="btn btn-secondary dropdown-toggle" style="height: 50px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="d-flex justify-content-between" style="align-items: center">
                <span style="font-size: 25px; color: white"><i class="bi bi-person-circle"></i></span>
                <span class="ms-2">@authService.GetFullName(Role.User)</span>
            </div>
        </button>
        <div class="dropdown-menu px-2">
            <div class="d-flex justify-content-start">
                <a asp-controller="auth" asp-action="logout" class="auth-link btn btn-outline-danger">Log out</a>
            </div>
        </div>
    </div>
}