<style>
    .auth-link {
        width: 95px;
    }
</style>

<div class="d-flex justify-content-between" style="width: 200px">
    <a asp-controller="auth" asp-action="login" class="auth-link btn btn-outline-success">Log in</a>
    <a asp-controller="auth" asp-action="register" class="auth-link btn btn-outline-success">Register</a>
</div>