@model RegisterDto

<div class="container mb-5">
    <h2 class="text-center mt-5">Login to your account</h2>
    <h5 class="text-center text-danger">@Model.ErrorMessage</h5>
    <div class="d-flex justify-content-center mt-5">
        <form asp-controller="auth" asp-action="register" style="width: 35%">
            <div class="mb-3">
                <label for="tel" class="form-label">Full Name</label>
                <input asp-for="FullName" type="tel" class="form-control" id="tel" required>
            </div>
            <div class="mb-3">
                <label for="tel" class="form-label">Address</label>
                <input asp-for="Address" type="tel" class="form-control" id="tel">
            </div>
            <div class="mb-3">
                <label for="tel" class="form-label">Phone Number</label>
                <input asp-for="TelNomer" type="tel" class="form-control" id="tel" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
</div>