@using CarsShop.Data.Entities
@model Image
@using CarsShop.Data
@using CarsShop.Data.Entities
@inject AppDbContext _context
@{
    var colorList = _context.Set<Color>().ToList();
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <div class="form-group mb-3">
            <label asp-for="ColorId" class="control-label">ColorId</label>
<select class="form-control" asp-for="ColorId">
    <option value="">-- Select ColorId --</option>
    @foreach (var item in colorList)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
<span asp-validation-for="ColorId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="control-label">Url</label>
            <input type="text" asp-for="Url" id="idUrl" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
