@model List<string>

<div class="container-xxl flex-grow-1 container-p-y">
    <a class="btn btn-outline-secondary mb-2" onclick="back();">
        <i class="bi bi-arrow-left"></i> Back
    </a>
    <div class="card">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner p-5">
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <img src="@Model[i]" style="object-fit: contain" height="400" width="600" asp-append-version="true" class="d-block w-100" alt="...">
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <img src="@Model[i]" style="object-fit: contain" height="400" width="600" asp-append-version="true" class="d-block w-100" alt="...">
                        </div>
                    }
                }
            </div>
            <button class="bg-secondary carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
            </button>
            <button class="bg-secondary carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
            </button>
         </div>
    </div>
</div>

<script>
    function back() {
        window.history.back();
}
</script>